@page "{category}"
@model CategoryModel
@inject DownrOptions options

<div>
    <h1 class="header">Posts in the '@Model.Category' category</h1>
    <p class="subheader">The posts below all relate to the topic you selected.</p>
</div>

<partial name="Post" model="Model.Posts" />

