@page "{slug?}"
@model IndexModel
@inject DownrOptions options

<div>
    <h1 class="header">@options.Title</h1>
    <p class="subheader">@options.IndexPageText</p>
</div>

<partial name="Post" model="Model.Posts" />
